// Background Colors

$body-bg-color: rgb(68, 0, 34), rgb(0, 53, 78);
$header-bg-color: rgba(17, 17, 17, 0.623);
$btns-hover-bg-color: rgb(97, 148, 118);
$skill-grid-container-bg-color: rgba(128, 128, 128, 0.253);